body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
main {
    /* width: 50vw;
    height: 50vh; */
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 244, 122);
    min-height: 50vh;
    overflow-y: hidden;
}

#sentence_area, #result_area {
    display: flex;
    /* border: 1px solsid black; */
    width: 95%;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sentence_area p, input{
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

#input_area {
    display: flex; 
    align-items: center; 
    justify-content: space-around;
}
/*larger screen*/
@media only screen and (max-width: 2000px) {
    #input_area {
        flex-direction: row;
        width: 20%; 
    }
}

/*smaller screen*/
@media only screen and (max-width: 600px) {
    #input_area {
        flex-direction: column;
        gap: 0.5rem;
        width: 52%;
    }
    #search {
        display: flex;
        align-self: flex-start;
    }
    button {
        display: flex;
        align-self: flex-end;
    }
}

button {
    background-color: #c17b1f; /* Green */
    border: none;
    color: white;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s ease-in-out;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

button:hover {
    background-color: #905d19;
    cursor: pointer;
}